<!-- Created 7/25/2022 by Jake McCann -->

<tr id="<%= dom_id stock %>">
  <td><%= stock.ticker %></td>
  <td><%= stock.price %></td>
  <td><%= link_to 'Trade', trade_path(stock) %></td>
  <td><%= link_to 'Show', stock %></td>
  <!--   <td><%= link_to 'Edit', edit_stock_path(stock) %></td>
        <td><%= link_to 'Destroy', stock, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
</tr>