<!-- Edited 7/27/22 by Jake McCann -->
<%= javascript_pack_tag 'stock_polling' %>

<p id="notice"><%= notice %></p>

<h1>Stocks</h1>

<table>
  <thead>
    <tr>
      <th>Ticker</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="stock_table">
    <%= render :partial => 'stock', :collection => @stocks %>
  </tbody>
</table>

<br>

<h1>News: </h1>
<%= render :partial => 'news_article', :collection => @news_articles %>

<!-- <%= link_to 'View Transaction', transactions_path %> -->

<!-- <%= link_to 'New Stock', new_stock_path %> -->


