<!-- Edited 7/27/22 by Jake McCann -->
<%= javascript_pack_tag 'stock_polling' %>

<p>
  <strong>Ticker:</strong>
  <%= @stock.ticker %>
</p>

<p>
  <strong>Price:</strong>
  <%= @stock.price %>
</p>


<%= link_to 'Trade', trade_path(@stock) %>
<!-- <%= link_to 'Edit', edit_stock_path(@stock) %> | -->

<% if @news_articles.count > 0 %>
  <h1>News: </h1>
  <%= render :partial => 'news_article', :collection => @news_articles %>
<% end %>
