<h1>Trading</h1>

<h2><%= @stock.ticker %> - price: <%=@stock.price %></h2>

<%= link_to 'Buy', buy_path(@stock.id) %> |
<%= link_to 'Sell', sell_path(@stock.id) %> |
<%= link_to 'Back', stocks_path %>
