<!-- Edited 7/26/2022 by Jake McCann -->
<%= javascript_pack_tag 'owned_stock_polling' %>

<p id="notice"><%= notice %></p>

<h1>Portfolio</h1>

<% if user_signed_in? %>
  <div id="user_money">
   <%= render :partial => 'users/user_money', :data => current_user%>
  </div>


<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Ticker</th>
      <th>Shares owned</th>
      <th>Total cost</th>
      <th>Current Value</th>
      <th>Gain/Loss</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody id="stock_table">
    <%= render :partial => 'owned_stock', :collection => @owned_stocks %>
  <% else %>
  <p>You are not signed in</p>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
  <% end %>

  </tbody>
</table>

<br>
<!-- <%= link_to 'View Transaction', transactions_path %> -->
<!--<%= link_to 'New Owned Stock', new_owned_stock_path %> -->
