<!-- Created 7/21/22 by Noah Moon -->
<h1>Sell Stock: <%= @owned_stock.stock.ticker %></h1>

<h2>Shares Owned: <%=@owned_stock.shares_owned %></h2>

<% if @sell_error != nil %>
  <p class="error" style="color: red"><%= @sell_error %></p>
<% end %>

<%= form_for(@transaction, url: sell_stock_path) do |f|%>
  <%= f.hidden_field :id %>
  <%= f.hidden_field :ticker %>
  <%= f.number_field :shares %>
  <%= f.submit "sell" %>
<% end %>

<%= link_to 'Show', @owned_stock %> |
<%= link_to 'Back', owned_stocks_path %>
