
<p>
  <strong>User:</strong>
  <%= @owned_stock.user_id %>
</p>

<p>
  <strong>Ticker:</strong>
  <%= @owned_stock.ticker %>
</p>

<p>
  <strong>Shares owned:</strong>
  <%= @owned_stock.shares_owned %>
</p>

<p>
  <strong>Total cost:</strong>
  <%= @owned_stock.total_cost %>
</p>

<%= link_to 'View Portfolio', owned_stocks_path %>
<%= link_to 'View Transactions', transactions_path %>
<%= link_to 'View All Stocks', stocks_path %>
