<div class="top-bar" id="top-nav">
  <div class="top-bar-left" >
    <ul class="dropdown menu" id="internal_nav" data-dropdown-menu>
      <li class="menu-text">Fake Brokerage</li>
      <li><%= link_to 'Stocks', stocks_path,  { :class => "nav_item"}  %></li>
      <li><%= link_to 'Portfolio', owned_stocks_path,  { :class => "nav_item"} %></li>
      <li><%= link_to 'Transactions', transactions_path,  { :class => "nav_item"} %></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <p class="navbar-text float-right">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
    </p>
  </div>
</div>